# Copia este archivo como .env y rellena los valores
# Proveedor LLM a usar: 'runpod' o 'modal'
LLM_PROVIDER=modal

# Variables para RunPod
RUNPOD_API_KEY=tu_api_key_de_runpod_aqui
RUNPOD_ENDPOINT_ID=tu_endpoint_id

# Variables para Modal (Endpoint Web OpenAI Compatible)
MODAL_API_KEY='as-IOXTeApdSmKLQ2gPUiSanh'
MODAL_API_ID='ak-PAhxGeQUrjfZwGUlVFsGub'
MODAL_ENDPOINT_URL=https://tu-workspace--tu-app-run.modal.run/v1/chat/completions

# El sitio web para OpenRouter (Referer)
SITE_URL=http://localhost:3000
SITE_NAME=FacturaProcessorIA
